<config>
    <modules>
        <Cammino_Googlemerchant>
            <version>0.0.1</version>
        </Cammino_Googlemerchant>
    </modules>
    <global>
        <helpers>
            <cammino_googlemerchant>
                <class>Cammino_Googlemerchant_Helper</class>
            </cammino_googlemerchant>
        </helpers>
        <models>
            <googlemerchant>
                <class>Cammino_Googlemerchant_Model</class>
                <resourceModel>googlemerchant_mysql4</resourceModel>
            </googlemerchant>
            <googlemerchant_mysql4>
                <class>Cammino_Googlemerchant_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>googlemerchant_category</table>
                    </category>
                </entities>
            </googlemerchant_mysql4>
        </models>
        <blocks>
            <googlemerchant>
                <class>Cammino_Googlemerchant_Block</class>
            </googlemerchant>
        </blocks>
        <resources>
            <googlemerchant_setup>
                <setup>
                    <module>Cammino_Googlemerchant</module>
                    <!--
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    -->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </googlemerchant_setup>
            <googlemerchant_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googlemerchant_setup_write>
            <googlemerchant_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googlemerchant_setup_read>
        </resources>
        <events>
            <admin_system_config_changed_section_catalog>
                <observers>
                    <googlemerchant_observer>
                        <type>singleton</type>
                        <class>Cammino_Googlemerchant_Model_Observer</class>
                        <method>importCategories</method>
                    </googlemerchant_observer>
                </observers>
            </admin_system_config_changed_section_catalog>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googlemerchant_rating_observer>
                        <type>singleton</type>
                        <class>googlemerchant/observer</class>
                        <method>injectRatingBlock</method>
                    </googlemerchant_rating_observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <googlemerchant>
                    <file>googlemerchant.xml</file>
                </googlemerchant>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <googlemerchant>
                <use>standard</use>
                <args>
                    <module>Cammino_Googlemerchant</module>
                    <frontName>googlemerchant</frontName>
                </args>
            </googlemerchant>
        </routers>
        <layout>
            <updates>
                <googlemerchant>
                    <file>googlemerchant.xml</file>
                </googlemerchant>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <googlemerchant>
                <active>0</active>
                <model>Cammino_Googlemerchant</model>
                <taxonomylocale>pt-BR</taxonomylocale>
            </googlemerchant>
        </catalog>
    </default>
</config>
