<config>
	<sections>
		<catalog>
			<groups>
				<googlemerchant translate="label">
					<label>Google Merchant</label>
					<comment><![CDATA[]]></comment>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<merchantid translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantid>
                        <deliverycountry translate="label">
                            <label>Delivery Country Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deliverycountry>                        
                        <deliverydays translate="label">
                            <label>Delivery Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deliverydays>
                        <optinstyle translate="label">
                            <label>Optin Style</label>
                            <frontend_type>select</frontend_type>
       						<source_model>googlemerchant/optin</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optinstyle>
						<taxonomylocale translate="label">
							<label>Taxonomy Locale</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</taxonomylocale>
						<couponcode translate="label">
							<label>Cupon Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</couponcode>
						<hidemicrodata translate="label">
                            <label>Esconder Microdata</label>
                            <comment>Ative essa opção se o seu tema implementa os microdados direto no HTML</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </hidemicrodata>
                        <attributesize translate="label">
                            <label>Atributo de Tamanho</label>
                            <comment>Informar código do atributo que contém o tamanho do produto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attributesize>
                        <xmlmininterval translate="label">
                            <label>Intervalo de horas para geração do XML</label>
                            <comment>Informar somente o número de horas entre uma criação e outra. Ex de hora em hora: 1</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </xmlmininterval>
                        <xmllastcreated translate="label">
                            <label>Último xml criado em: </label>
                            <comment>Data exata da criação do último XML</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </xmllastcreated>
						<googlenext translate="label">
                            <label>Google Merchant Center Next</label>
                            <comment>Ative essa opção se o seu google merchant center estiver na versão Next</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </googlenext>
                        <min_stock_qty translate="label">
                            <label>Quantidade mínima de estoque para o feed XML</label>
                            <comment>Quantidade mínima de estoque para que o produto seja adicionado ao feed de produtos. Ex: 2 - somente produtos com 2 ou mais unidades de estoque irão para o feed XML</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_stock_qty>
					</fields>
				</googlemerchant>
			</groups>
		</catalog>
	</sections>
</config>