<config>
	<sections>
		<catalog>
			<groups>
				<googlemerchant translate="label">
					<label>Google Merchant</label>
					<comment><![CDATA[]]></comment>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<taxonomylocale translate="label">
							<label>Taxonomy Locale</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</taxonomylocale>
					</fields>
					<fields>
						<couponcode translate="label">
							<label>Cupon Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</couponcode>
					</fields>
				</googlemerchant>
			</groups>
		</catalog>
	</sections>
</config>